body{
    background-color: #696A98;
     text-align: center;
     
}
a {
    background-color: #AAA9D3;
    text-decoration: none;
    font-size: 25px;
    color: #F7EACA;
   
}
h1{
    color: #DE9890;
}


